# Assignment on Store_sales dataset

**Load the Dataset**

In [3]:
import pandas as pd 
store=pd.read_csv("C:\\Users\\Tejasree\\Downloads\\store_sales.csv")
store.head()

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13

**Calculate the total sales for each store across all months.**

In [3]:
import pandas as pd 
store=pd.read_csv("C:\\Users\\Tejasree\\Downloads\\store_sales.csv")
store['Total Sales'] = store.iloc[:, 2:].sum(axis=1)
print(store[['store_id', 'Total Sales']])

   store_id  Total Sales
0       S_1          178
1       S_2          174
2       S_3          181
3       S_4          135
4       S_5          159
..      ...          ...
95     S_96          185
96     S_97          154
97     S_98          168
98     S_99          173
99    S_100          180

[100 rows x 2 columns]

**Find the average sales for each month across all stores**

In [4]:
avg = store.iloc[:, 2:].mean()
print(avg)

Jan             14.46
Feb             15.09
Mar             14.56
Apr             14.57
May             13.56
Jun             13.80
July            14.38
Aug             15.81
Sep             14.91
Oct             14.10
Nov             15.31
Dec             13.57
Total Sales    174.12
dtype: float64

**Identify the store with the highest total sales.**

In [3]:
store['Total Sales'] = store.iloc[:, 2:].sum(axis=1)
asc= store.sort_values(by='Total Sales', ascending=False)
high = asc.iloc[0]
print(high[['store_id', 'Total Sales']])

store_id       S_86
Total Sales     214
Name: 85, dtype: object

**Calculate the total sales for each city.**

In [7]:
store['Total Sales'] = store.iloc[:, 2:].sum(axis=1)
tot_sales = store.groupby('city')['Total Sales'].sum()
print(tot_sales)

city
Arizona       3951.0
California    7522.0
Texas         5939.0
Name: Total Sales, dtype: float64

**List stores with total sales greater than 200**

In [8]:
store['Total Sales'] = store.iloc[:, 2:].sum(axis=1)
high = store[store['Total Sales'] > 200]
print(high[['store_id', 'Total Sales']])

   store_id  Total Sales
0       S_1        356.0
1       S_2        348.0
2       S_3        362.0
3       S_4        270.0
4       S_5        318.0
..      ...          ...
95     S_96        370.0
96     S_97        308.0
97     S_98        336.0
98     S_99        346.0
99    S_100        360.0

[100 rows x 2 columns]

**Which month had the highest average sales across all stores?**

In [21]:
avg = store.iloc[:, 2:].mean() 
max_avg_month = avg.idxmax()
max_avg_val = avg.max() 
print(f"{max_avg_month}: {max_avg_val}")

Aug: 15.81

**Which city generated the most revenue?**

In [9]:
store['Total Sales'] = store.iloc[:, 2:].sum(axis=1)
city_sales = store.groupby('city')['Total Sales'].sum()
max_sales_city = city_sales.idxmax()
max_sales_val = city_sales.max() 
print(f"{max_sales_city}: {max_sales_val}")

California: 30088.0