## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [ ]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [ ]:
auto=pd.read_csv("C:\\Users\\Tejasree\\Downloads\\Automobile.csv")

**Check the head of the DataFrame.**

In [4]:
import pandas as pd
auto=pd.read_csv("C:\\Users\\Tejasree\\Downloads\\Automobile.csv")
print(auto.head())

   symboling  normalized_losses         make fuel_type aspiration  \
0          3                168  alfa-romero       gas        std
1          3                168  alfa-romero       gas        std
2          1                168  alfa-romero       gas        std
3          2                164         audi       gas        std
4          2                164         audi       gas        std

  number_of_doors   body_style drive_wheels engine_location  wheel_base  ...  \
0             two  convertible          rwd           front        88.6  ...
1             two  convertible          rwd           front        88.6  ...
2             two    hatchback          rwd           front        94.5  ...
3            four        sedan          fwd           front        99.8  ...
4            four        sedan          4wd           front        99.4  ...

   engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
0          130         mpfi  3.47    2.68               9.0        111
1          130         mpfi  3.47    2.68               9.0        111
2          152         mpfi  2.68    3.47               9.0        154
3          109         mpfi  3.19    3.40              10.0        102
4          136         mpfi  3.19    3.40               8.0        115

   peak_rpm city_mpg  highway_mpg  price
0      5000       21           27  13495
1      5000       21           27  16500
2      5000       19           26  16500
3      5500       24           30  13950
4      5500       18           22  17450

[5 rows x 26 columns]

**How many rows and columns are there?**

In [5]:
print(auto.shape)

(201, 26)

**What is the average Price of all cars in the dataset?**

In [6]:
avg=auto['price'].mean()
print(avg)

13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [10]:
cheap = auto.loc[auto['price'].idxmin()]
print(f"The cheapest make :{cheap ['make']}:{cheap['price']}")

The cheapest make :subaru:5118

In [8]:
cost  = auto.loc[auto['price'].idxmax()]
print(f"The costliest make : {cost['make']}:{cost['price']}")

The costliest make : mercedes-benz:45400

**How many cars have horsepower greater than 100?**

In [11]:
count=auto[auto['horsepower']>100].shape[0]
print(count)

90

**How many hatchback cars are in the dataset ?**

In [12]:
count=auto[auto['body_style']=='hatchback'].shape[0]
print(count)

68

**What are the 3 most commonly found cars in the dataset?**

In [13]:
common= auto['make'].value_counts().head(3)
print(common)

make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [14]:
person= auto[auto['price'] == 7099]
print(person['make'].iloc[0])

nissan

**Which cars are priced greater than 40000?**

In [15]:
cars = auto[auto['price'] > 40000]
print(cars)

    symboling  normalized_losses           make fuel_type aspiration  \
15          0                149            bmw       gas        std
70          0                140  mercedes-benz       gas        std
71          1                140  mercedes-benz       gas        std

   number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
15             two      sedan          rwd           front       103.5  ...
70            four      sedan          rwd           front       120.9  ...
71             two    hardtop          rwd           front       112.0  ...

    engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
15          209         mpfi  3.62    3.39               8.0        182
70          308         mpfi  3.80    3.35               8.0        184
71          304         mpfi  3.80    3.35               8.0        184

    peak_rpm city_mpg  highway_mpg  price
15      5400       16           22  41315
70      4500       14           16  40960
71      4500       14           16  45400

[3 rows x 26 columns]

**Which are the cars that are both a sedan and priced less than 7000?**

In [16]:
cars = auto[(auto['body_style'] == 'sedan') & (auto['price'] < 7000)]
print(cars)

     symboling  normalized_losses        make fuel_type aspiration  \
19           0                 81   chevrolet       gas        std
24           1                148       dodge       gas        std
42           0                110       isuzu       gas        std
50           1                113       mazda       gas        std
82           1                125  mitsubishi       gas        std
86           1                128      nissan       gas        std
88           1                128      nissan       gas        std
89           1                122      nissan       gas        std
118          1                154    plymouth       gas        std
152          0                 91      toyota       gas        std

    number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
19             four      sedan          fwd           front        94.5  ...
24             four      sedan          fwd           front        93.7  ...
42             four      sedan          rwd           front        94.3  ...
50             four      sedan          fwd           front        93.1  ...
82             four      sedan          fwd           front        96.3  ...
86              two      sedan          fwd           front        94.5  ...
88              two      sedan          fwd           front        94.5  ...
89             four      sedan          fwd           front        94.5  ...
118            four      sedan          fwd           front        93.7  ...
152            four      sedan          fwd           front        95.7  ...

     engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
19            90         2bbl  3.03    3.11               9.6         70
24            90         2bbl  2.97    3.23               9.4         68
42           111         2bbl  3.31    3.23               8.5         78
50            91         2bbl  3.03    3.15               9.0         68
82           122         2bbl  3.35    3.46               8.5         88
86            97         2bbl  3.15    3.29               9.4         69
88            97         2bbl  3.15    3.29               9.4         69
89            97         2bbl  3.15    3.29               9.4         69
118           90         2bbl  2.97    3.23               9.4         68
152           98         2bbl  3.19    3.03               9.0         70

     peak_rpm city_mpg  highway_mpg  price
19       5400       38           43   6575
24       5500       31           38   6692
42       4800       24           29   6785
50       5000       31           38   6695
82       5000       25           32   6989
86       5200       31           37   5499
88       5200       31           37   6649
89       5200       31           37   6849
118      5500       31           38   6692
152      4800       30           37   6938

[10 rows x 26 columns]

 **Count the number of unique values in the `fuel_type` column.**

In [17]:
count=auto['fuel_type'].nunique()
print(count)

2

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [18]:
cars = auto[(auto['horsepower'] >= 100) & (auto['horsepower'] <= 200)]
print(cars[['make', 'horsepower', 'price']])

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[88 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [19]:
avg_mpg = auto.groupby('body_style')[['city_mpg', 'highway_mpg']].mean()
print(avg_mpg)

              city_mpg  highway_mpg
body_style
convertible  20.500000    26.000000
hardtop      21.625000    27.250000
hatchback    26.602941    32.382353
sedan        25.053191    30.574468
wagon        24.040000    28.720000

**What is the median `price` for each `make`?**

In [20]:
med = auto.groupby('make')['price'].median()
print(med)

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [21]:
cars = auto[(auto['wheel_base'] > 100) & (auto['curb_weight'] < 2500)]
print(cars)

     symboling  normalized_losses    make fuel_type aspiration  \
9            2                192     bmw       gas        std
10           0                192     bmw       gas        std
169         -1                 65  toyota       gas        std
170         -1                 65  toyota    diesel      turbo
171         -1                 65  toyota       gas        std
172         -1                 65  toyota       gas        std
173         -1                 65  toyota       gas        std

    number_of_doors body_style drive_wheels engine_location  wheel_base  ...  \
9               two      sedan          rwd           front       101.2  ...
10             four      sedan          rwd           front       101.2  ...
169            four      sedan          fwd           front       102.4  ...
170            four      sedan          fwd           front       102.4  ...
171            four  hatchback          fwd           front       102.4  ...
172            four      sedan          fwd           front       102.4  ...
173            four  hatchback          fwd           front       102.4  ...

     engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
9            108         mpfi  3.50    2.80               8.8        101
10           108         mpfi  3.50    2.80               8.8        101
169          122         mpfi  3.31    3.54               8.7         92
170          110          idi  3.27    3.35              22.5         73
171          122         mpfi  3.31    3.54               8.7         92
172          122         mpfi  3.31    3.54               8.7         92
173          122         mpfi  3.31    3.54               8.7         92

     peak_rpm city_mpg  highway_mpg  price
9        5800       23           29  16430
10       5800       23           29  16925
169      4200       29           34   8948
170      4500       30           33  10698
171      4200       27           32   9988
172      4200       27           32  10898
173      4200       27           32  11248

[7 rows x 26 columns]

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [22]:
auto['price_per_hp'] = auto['price'] / auto['horsepower']
print(auto[['make',  'price_per_hp']])

            make  price_per_hp
0    alfa-romero    121.576577
1    alfa-romero    148.648649
2    alfa-romero    107.142857
3           audi    136.764706
4           audi    151.739130
..           ...           ...
196        volvo    147.763158
197        volvo    119.031250
198        volvo    160.335821
199        volvo    211.981132
200        volvo    198.464912

[201 rows x 2 columns]

**Count how many cars have a `number_of_doors` as `four`.**

In [23]:
count = (auto['number_of_doors'] == 'four').sum()
print(count)

114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [25]:
cars = auto.sort_values(by=['highway_mpg', 'price'], ascending=[False, False]).head(5)
print(auto[['make', 'highway_mpg', 'price']])

            make  highway_mpg  price
0    alfa-romero           27  13495
1    alfa-romero           27  16500
2    alfa-romero           26  16500
3           audi           30  13950
4           audi           22  17450
..           ...          ...    ...
196        volvo           28  16845
197        volvo           25  19045
198        volvo           23  21485
199        volvo           27  22470
200        volvo           25  22625

[201 rows x 3 columns]

**How many cars have missing values in the `normalized_losses` column?**

In [24]:
na=auto['normalized_losses'].isna().sum()
print(na)

0

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

In [ ]:
current_year=2025
auto['car_age']= current_year-auto['year_of_manufacture']
print(auto['car_age'])

### The END